<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>change password</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="icon" href="/images/faviconeuro.ico" />
</head>

<body>
<div class="container border border-secondary rounded">
    <header>
        <div >
            <nav class="navbar navbar-expand border-bottom border-secondary">
                <div>
                    <img th:src="@{/images/logo2.png}" class="img-fluid col-6" alt="Responsive image" >
                </div>
                <ul class="navbar-nav">
                    <li class="navbar-brand ">
                        <a class="nav-link text-dark " th:href="@{/homepage}">Home</a>
                    </li>
                    <li class="navbar-brand">
                        <a class="nav-link text-dark" th:href="@{/transferForm}">Transfer</a>
                    </li>
                    <li class="navbar-brand">
                        <a class="nav-link text-dark" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="navbar-brand">
                        <a class="nav-link text-dark" th:href="@{/contact}">Contact</a>
                    </li>
                    <form th:action="@{/logout}" method="post" class="nav-link text-dark">
                        <input type="submit" class="nav-link text-dark" value="Log off" />
                    </form>
                </ul>
            </nav>
        </div>

        <nav class="navbar navbar-expand bg-light mb-3 mt-0.5">
            <ul class="navbar-nav">
                <li class="navbar-brand ">
                    <a class="nav-link text-dark " th:href="@{/homepage}">Home</a>
                </li>
                <li class="navbar-brand ">
                    <a class="nav-link text-primary " >/</a>
                </li>
                <li class="navbar-brand">
                    <a class="nav-link text-dark" th:href="@{/transferForm}">Transfer</a>
                </li>
            </ul>
        </nav>
    </header>

    <h3 class="text-center">Change password</h3>
    <form th:action="@{/changePassword}" method="post">
         <div class="text-center mt-4">
             <small  class="form-text mb-2 text-center ">New password</small>
             <input class="border border-secondary rounded bg-white text-center col-4" name="password" aria-label="Large"  >
             <small  th:if="${error}" th:text="${error}" class="form-text text-danger font-weight-bold "></small>
             <small  th:if="${success}" th:text="${success}" class="form-text text-success font-weight-bold"></small>
         </div>
         <div class="text-center mt-4">
             <small  class="form-text mb-2 text-center  ">Confirm password</small>
             <input class="border border-secondary rounded bg-white text-center col-4" name="confirmPassword"  aria-label="Large" >
         </div>
        <div class="text-center mt-4">
            <button type="submit" class="mb-3 btn btn-secondary btn-lg  col-3  " > Change password </button>
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class=" d-flex justify-content-around text-center bg-light " >
        <div class=" col-6">
            <a class="  btn btn-secondary btn-lg btn-block" th:href="@{/homepage}" > Back home </a>
        </div>
        <div class=" col-6">
            <a class=" btn btn-secondary btn-lg btn-block"  th:href="@{/transferForm}" > Pay a buddy </a>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>
</body>
</html>